section.about {
	background-color: white;
	height: 100vh;
	margin: 0 -15px -40px; //full screen disable bootstrap margin
	padding-top: 50px;

	.portrait {
		transition: transform .2s ease-out;
		opacity: .3;
		position: absolute;
		width: 55%;
		max-width: 900px;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

	.presentation {
		width: 45%;
		position: absolute;
		z-index: 70;
		right: 10%;
	}

	.hello  {
		font-size: 72px;
		margin-bottom: 30px;
	}

	.intro {
		font-size: 24px;
		margin-bottom: 20px;
		font-weight: 700;
	}

	p:not(.intro):not(.hello) {
		margin-bottom: 15px;
		padding-right: 40%;
	}

	.links {
		margin-top: 100px;

		a {
			font-size: 36px;
			display: inline-block;

			&:last-child {
				float: right;
			}

			// Underline growing
			&:after {
				content: '';
				display: block;
				height: 3px;
				width: 25px;
				position: relative;
				top: -2px;
				background: black;
				transition: width .2s ease-out;
			}

			&:hover:after {
				width: 100%;
				color: black;
			}
		}
	}

	// Animations

	.portrait {
		animation: 1s ease-out 0s 1 fadein-left;
	}

	.hello {
		animation: 1s ease-out 0s 1 fadein-top;
	}

	p:not(:first-child) {
		animation: 1.5s ease-out 0s 1 fadein-right-delay05;
	}

	.links {
		animation: 2s ease-out 0s 1 fadein-bottom-delay1;	
	}

	@keyframes fadein-left {
		0% { 
			opacity: 0;
			transform: translateX(-10px);
		}
		40% {
			transform: translateX(0px);
		}
		100% { 
			opacity: .3;
		}
	}

	@keyframes fadein-top {
		0% { 
			opacity: 0;
			transform: translateY(-10px);
		}
		40% {
			transform: translateY(0px);
		}
		100% { 
			opacity: 1;
		}
	}

	@keyframes fadein-right-delay05 {
		0% { 
			opacity: 0;
		}
		25% {
			transform: translateX(10px);
			opacity: 0;
		}
		50% {
			transform: translateX(0px);
		}
		100% { 
			opacity: 1;
		}
	}

	@keyframes fadein-bottom-delay1 {
		0% { 
			opacity: 0;
		}
		50% {
			transform: translateY(10px);
			opacity: 0;
		}
		70% {
			transform: translateY(0px);
		}
		100% { 
			opacity: 1;
		}
	}
}





