* {
	margin: 0;
	padding: 0;
}

video {
	width: 100%;
	height: auto;
}

body {
	font-family: Work Sans;
	font-weight: 400;
	color: black;
	background-color: $grey-lightest;
	position: relative; 
}

a {
	text-decoration: none;
	display: inline-block;
	
	&:hover {
		text-decoration: none;
	}
}

h1,h2,h3,p,label {
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
}

.view {
	margin-top: 60px;	

	@media (max-width:767px) {
		margin-top: 90px;	
	}
}

.line {
	background-color: $grey-light;
	height: 2px;
	width: 100%;
	margin: 0;
}

footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: $grey-light;
	padding: 8px;

	p.copyrights {
		color: white;
		font-size: 11px;
		text-align: center;
	}
}