* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	// background-color: $grey-light;
}

strong {
	font-weight: 700;
}

body {
	font-family: Work Sans;
	font-weight: 400;
	color: black;
	background-color: $grey-lightest;
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}

video {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}
}

h1,h2,h3,p,label {
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
}

.view {
	margin-top: 54px;
	height: 100%;

	@media (max-width:767px) {
		margin-top: 90px;	
	}
}

.line {
	background-color: $grey-light;
	height: 2px;
	width: 100%;
	margin: 0;
}

section.about {
	text-align: center;
	margin-top: 110px;

	p {
		font-size: 34px;
		line-height: 48px;
	}
	@media (max-width:767px) {
		margin-top: 10px;	
	}
}

footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: $grey-light;
	padding: 10px;

	p.copyrights {
		letter-spacing: 2px;
		font-weight: 700;
		color: white;
		font-size: 11px;
		text-align: center;
	}
}