.navbar {
	transition: top .3s ease-in-out;
	background-color: white;
	border: none;
	background-color: #f8f8f8; 
	margin: 0;

	.offset {
		transform: translateX(37px);

		@media (max-width:767px) {
			transform: translateX(24px);
		}
	}

	.navbar-brand {
		color: black;
		height: 100%;
		transition: all .2s ease-in-out;

		@media (max-width:767px) {
			padding: 15px 15px 10px;
		}

		* {
			vertical-align: middle;
		}

		a:nth-child(2) {
			text-decoration: none;
			display: block;
		}

		.logo {
			width: 40px;
			margin-right: 10px;
			vertical-align: middle;

			&__reflect {
				&--1 {
					fill: $grey-light;
					transition: transform .2s .2s;
					
					&.toggle {
						transform: translate(25px, -20px);
						transition: transform .2s;	
					}
				}

				&--2 {
					fill: $grey-light;					
					transform: translate(-30px, 30px);	
					transition: transform .2s;
					
					&.toggle {
						transform: translate(0, 0);
						transition: transform .2s .2s;
					}
				}

				&--3 {
					fill: $grey-light;
					transition: transform .2s .2s;	
					
					&.toggle {
						transform: translate(0, 50px);	
						transition: transform .2s;
					}				
				}

				&--4 {
					fill: $grey-light;					
					transform: translateY(-30px);
					transition: transform .2s;

					&.toggle {
						transform: translateY(0);
						transition: transform .2s .2s;		
					}
				}
			}
		}

		h1 {
			font-weight: 700;
			font-size: $regular;
			display: inline-block;
			transition: color .2s;
		}

		span.skills {
			font-size: 9px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $grey;
			margin-left: 12px;

			@media (max-width:767px) {
				display: block;
				margin: 0;
			}
		}

		&.navbar-right {
			float: right;
			width: 170px;

			.text {
				font-size: $small;
				display: inline-block; 
				opacity: 0;
				transform: translateX(10px);
				transition: all .2s ease-in-out;
			}

			&:hover > .text {
				color: black;
				opacity: 1;
				transform: translateX(0px);
			}

			&.languages {
				width: 52px;
				font-size: $small;
				
				&:hover {
					cursor: pointer;
				}
			}

			@media (max-width:767px) {
				margin-top: 9px;
				width: 60px;
			}
		}

		.contact-icon, .back-icon {
			float: right;
			width: 25px;
			margin-left: 10px;
			margin-top: -1px;
		}

		a:first-child {
			position: absolute;
			left: -24px;
			
			.back-icon {
				margin: 0;
				transition: all 0.3s ease-in-out;

				@media (max-width:767px) {
					margin-top: 8px;
					left: -39px;
				}

				@media (min-width:768px) {
					&:hover {
						animation-name: back-anim;
						animation-duration: .3s;
					}

					@keyframes back-anim {
						0% { transform: translateX(0px); }
						50% { transform: translateX(-7px);}
						100% { transform: translateX(0px); }
					}
				}
			}
		}

		@media (max-width:767px) {
			width: 100%;
		}
	}
}

.nav-up {
	top: -72px;
}