.contact {
	.form {
		margin-top: 40px;

		form {
			label {
				font-size: 14px;
				margin: 0 0 8px 0;
			}

			input, textarea {
				width: 100%;
				background-color: $grey-light;
				border: none;
				font-size: 14px;
				padding: 15px;
				outline: none;
				margin-bottom: 40px;
				border-radius: 3px;
				transition: all 0.2s;

				&:focus {
					outline: none;
					box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.25);
				}
			}

			input#submit {
				background-color: transparent;
				margin: 0;
				border: solid 2px $grey-light;
			}

			.submit-btn {
				position: relative;
				text-align: center;
				top: -40px;
				z-index: -10;
					// &:active + .send-icon {
					// 	opacity: 1;
					// 	transform: translate(10px, -10px);
					// 	opacity: 0;
					// }
					span {
						font-size: $regular;

						img.send-icon {
							width: 25px;
						// transition: all 0.3s;
					}
				}
			}
		}
	}	
}