.navbar {
	background-color: white;
	border: none;

	.navbar-brand {
		color: black;
	}

	.progress {
		background-color: black;
		height: 1px;
		width: 0px;
	}
}

.project-thumb {
	opacity: 0;
	transition: opacity 0.3s;
}