.navbar {
	background-color: white;
	border: none;
	background-color: #f8f8f8; 
	margin: 0;

	.navbar-brand {
		color: black;

		&.navbar-right {
			width: 171px;

			.text {
				display: inline-block; 
				opacity: 0;
				transform: translateX(10px);
				transition: all 0.3s ease-in-out;
			}

			.contact-icon {
				float: right;
				display: inline-block;
				width: 25px;
				margin-left: 10px;
				margin-top: -1px;
			}

			&:hover > .text {
				color: black;
				opacity: 1;
				transform: translateX(0px);
			}
		}
	}

	.progress {
		background-color: black;
		height: 1px;
		width: 0px;
		margin: 0;
	}
}

.home {
	display: none;
	
	.project-thumb {
		transition: opacity 0.4s;
		padding: 20px;
		height: 340px;

		video {
			max-width: 400px;
			box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.25);
		}
		.footer {
			margin-top: 10px;

			h2 {
				font-size: 16px;
				font-weight: 700;
			}

			label {
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}
}

.view {
	margin-top: 60px;	
}