@import "home";
@import "project";


* {
	margin: 0;
	padding: 0;
}

video {
    width: 100%;
    height: auto;
}

body {
	font-family: Work Sans;
	font-weight: regular;
	color: black;
}

a {
	text-decoration: none;
	display: inline-block;
}

h1,h2,h3,p {
	font-weight: normal;
	color: black;
}


