.navbar {
	background-color: white;
	border: none;
	background-color: #f8f8f8; 
	margin: 0;

	.navbar-brand {
		color: black;

		h1 {
			font-size: 18px;
			transition: all 0.3s;
		}

		&.navbar-right {
			width: 171px;
			float: right;

			.text {
				display: inline-block; 
				opacity: 0;
				transform: translateX(10px);
				transition: all 0.3s ease-in-out;
			}

			&:hover > .text {
				color: black;
				opacity: 1;
				transform: translateX(0px);
			}
		}

		.contact-icon, .back-icon {
			float: right;
			display: inline-block;
			width: 25px;
			margin-left: 10px;
			margin-top: -1px;
		}

		.back-icon {
			display: none;
			float: left;
			margin: 0;
			position: relative;
			top: -18px;
			transform: translateX(-40px);
			transition: all 0.2s ease-in-out;
		}
	}
}