* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

strong {
  font-weight: 700; }

body {
  font-family: Work Sans;
  font-weight: 400;
  color: black;
  background-color: #f8f8f8;
  position: relative;
  min-height: 100%;
  padding-bottom: 50px; }

video {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #585858;
    text-decoration: none; }

h1, h2, h3, p, label {
  font-weight: normal;
  color: black;
  margin: 0;
  padding: 0; }

.view {
  padding-top: 54px;
  height: 100%; }
  @media (max-width: 767px) {
    .view {
      margin-top: 90px; } }

.line {
  background-color: #ececec;
  height: 2px;
  width: 100%;
  margin: 0; }

section.about {
  text-align: center;
  margin-top: 110px; }
  section.about p {
    font-size: 34px;
    line-height: 48px; }
  @media (max-width: 767px) {
    section.about {
      margin-top: 10px; } }

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ececec;
  padding: 10px; }
  footer p.copyrights {
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
    font-size: 11px;
    text-align: center; }

.navbar {
  background-color: white;
  border: none;
  background-color: #f8f8f8;
  margin: 0; }
  .navbar .offset {
    transform: translateX(37px); }
    @media (max-width: 767px) {
      .navbar .offset {
        transform: translateX(24px); } }
  .navbar .navbar-brand {
    color: black;
    height: 100%;
    width: 450px;
    transition: all 0.3s ease-in-out; }
    .navbar .navbar-brand a:nth-child(2) {
      text-decoration: none; }
      .navbar .navbar-brand a:nth-child(2):hover h1 {
        color: #585858; }
    .navbar .navbar-brand h1 {
      font-weight: 700;
      font-size: 18px;
      display: inline-block;
      transition: color .2s; }
    .navbar .navbar-brand span.skills {
      font-size: 12px;
      color: #b1b1b1;
      margin-left: 12px; }
      @media (max-width: 767px) {
        .navbar .navbar-brand span.skills {
          display: block;
          font-size: 9px;
          margin: 0; } }
    .navbar .navbar-brand.navbar-right {
      float: right;
      width: 150px; }
      .navbar .navbar-brand.navbar-right .text {
        font-size: 14px;
        display: inline-block;
        opacity: 0;
        transform: translateX(10px);
        transition: all 0.3s ease-in-out; }
      .navbar .navbar-brand.navbar-right:hover > .text {
        color: black;
        opacity: 1;
        transform: translateX(0px); }
      @media (max-width: 767px) {
        .navbar .navbar-brand.navbar-right {
          margin-top: 9px;
          width: 60px; } }
    .navbar .navbar-brand .contact-icon, .navbar .navbar-brand .back-icon {
      float: right;
      display: inline-block;
      width: 25px;
      margin-left: 10px;
      margin-top: -1px; }
    .navbar .navbar-brand a:first-child {
      position: absolute;
      left: -24px; }
      .navbar .navbar-brand a:first-child .back-icon {
        margin: 0;
        transition: all 0.2s ease-in-out; }
        @media (max-width: 767px) {
          .navbar .navbar-brand a:first-child .back-icon {
            margin-top: 8px;
            left: -39px; } }
        @media (min-width: 768px) {
          .navbar .navbar-brand a:first-child .back-icon:hover {
            animation-name: back-anim;
            animation-duration: 0.3s;
            animation-direction: alternate; }
          @keyframes back-anim {
            0% {
              transform: translateX(0px); }
            50% {
              transform: translateX(-7px); }
            100% {
              transform: translateX(0px); } } }
    @media (max-width: 767px) {
      .navbar .navbar-brand {
        width: 212px; } }

.home .project-thumb {
  text-align: center;
  transition: opacity 0.4s;
  padding: 20px;
  perspective: 1000px; }
  .home .project-thumb video, .home .project-thumb img {
    box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.25); }
  .home .project-thumb .footer {
    margin-top: 10px; }
    .home .project-thumb .footer h2 {
      font-size: 16px;
      font-weight: 700; }
    .home .project-thumb .footer label {
      text-transform: uppercase;
      font-size: 12px;
      color: #b1b1b1; }
  @media (max-width: 767px) {
    .home .project-thumb {
      padding: 0 0 20px 0; } }

.project {
  display: none;
  padding: 20px; }
  .project .preview {
    margin-bottom: 20px; }
    .project .preview video {
      box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.25); }
  .project h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px; }
  .project label {
    text-transform: uppercase;
    color: #b1b1b1; }
  .project p {
    margin: 12px 0 12px 0; }
  .project a {
    color: black; }
    .project a .launch {
      text-decoration: underline;
      font-size: 12px; }
    .project a img {
      width: 25px; }
  @media (max-width: 767px) {
    .project {
      padding: 0; } }

.contact .form {
  margin-top: 40px; }
  .contact .form form label {
    font-size: 14px;
    margin: 0 0 8px 0; }
  .contact .form form input, .contact .form form textarea {
    width: 100%;
    background-color: #ececec;
    border: none;
    font-size: 14px;
    padding: 15px;
    outline: none;
    margin-bottom: 40px;
    border-radius: 3px;
    transition: all 0.2s; }
    .contact .form form input:focus, .contact .form form textarea:focus {
      outline: none;
      box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.25); }
  .contact .form form input#submit {
    background-color: transparent;
    margin: 0;
    border: solid 2px #ececec; }
    .contact .form form input#submit:focus {
      box-shadow: none; }
  .contact .form form .submit-btn {
    position: relative;
    text-align: center;
    top: -40px;
    z-index: -10; }
    .contact .form form .submit-btn:active + .send-icon {
      transform: translate(10px, -10px);
      opacity: 0; }
    .contact .form form .submit-btn span {
      font-size: 18px;
      margin-right: 6px; }
      .contact .form form .submit-btn span img.send-icon {
        width: 20px;
        transition: all 0.3s; }

.sent {
  text-align: center; }
