// Variables
$grey-lightest: #f8f8f8;
$grey-light: #ececec;
$grey: #b1b1b1;
$blue: #001CE7;

$regular: 18px;
$small: 14px;

//Fonts
@font-face {
	font-family: Regular-Semibold;
	src: url(assets/fonts/Regular-Semibold.ttf);
}

// Partials
@import "base";
@import "navbar";
@import "about";
@import "home";
@import "project";
@import "contact";
@import "footer";