<!DOCTYPE html>
<html ng-app='portfolio'>
<head>
	<title>Adrien Lapasset - Web design / Data design / Développement </title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/png" href="pictos/favicon.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">

	<!-- Styles -->
	<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='sass/style.css' />
	
</head>
<body>
	<header ng-controller="headerCtrl">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand navbar-left" ui-sref="home" ng-click="backHide()">
					<span><img class="back-icon" ng-src="pictos/back.svg"></span>
					<h1>Adrien Lapasset</h1>
					<span class="skills">Web design / Data design / Développement</span>
				</a>
				<a class="navbar-brand navbar-right" ui-sref="contact" ng-click="backShow()">
					<div class="text hidden-xs">Contact me</div>
					<img class="contact-icon" ng-src="pictos/contact.svg">
				</a>
			</div>
			<div class="line"></div>				
		</nav>
	</header>
	<div class="container-fluid view">
		<ui-view></ui-view>
	</div>
	<!-- <footer class="footer">
		<p class="copyrights">Copyrights © <script>document.write(new Date().getFullYear())</script> Adrien Lapasset</p>
	</footer> -->
</body>

<!-- JS librairies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- JS files -->
<script src="js/ui.js"></script>
<script src="js/portfolio.js"></script>
</html>

