* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

.en, .fr {
  display: none;
  opacity: 0; }

.show {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  display: block; }

@font-face {
  font-family: Regular-Semibold;
  src: url(../fonts/Regular-Semibold.ttf); }

body {
  font-family: Regular-Semibold;
  color: black;
  background-color: #f8f8f8;
  position: relative;
  min-height: 100%;
  padding-bottom: 75px; }

video {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    color: black;
    text-decoration: none;
    outline: none; }

h1, h2, h3, p, label {
  font-weight: normal;
  color: black;
  margin: 0;
  padding: 0; }

.view {
  padding-top: 54px;
  height: 100%; }
  @media (max-width: 767px) {
    .view {
      margin-top: 42px; } }

.line {
  background-color: #ececec;
  height: 2px;
  width: 100%;
  margin: 0; }

.navbar {
  transition: top 0.2s ease-in-out;
  background-color: white;
  border: none;
  background-color: #f8f8f8;
  margin: 0; }
  .navbar .offset {
    transform: translateX(37px); }
    @media (max-width: 767px) {
      .navbar .offset {
        transform: translateX(24px); } }
  .navbar .navbar-brand {
    color: black;
    height: 100%;
    width: 510px;
    transition: all 0.3s ease-in-out; }
    .navbar .navbar-brand a:nth-child(2) {
      text-decoration: none; }
      .navbar .navbar-brand a:nth-child(2):hover h1 {
        color: #585858; }
    .navbar .navbar-brand img {
      width: 30px;
      margin-right: 5px; }
    .navbar .navbar-brand h1 {
      font-weight: 700;
      font-size: 18px;
      display: inline-block;
      transition: color .2s; }
    .navbar .navbar-brand span.skills {
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #b1b1b1;
      margin-left: 12px;
      position: relative;
      bottom: 1px; }
      @media (max-width: 767px) {
        .navbar .navbar-brand span.skills {
          display: block;
          margin: 0; } }
    .navbar .navbar-brand.navbar-right {
      float: right;
      width: 170px; }
      .navbar .navbar-brand.navbar-right .text {
        font-size: 14px;
        display: inline-block;
        opacity: 0;
        transform: translateX(10px);
        transition: all 0.3s ease-in-out; }
      .navbar .navbar-brand.navbar-right:hover > .text {
        color: black;
        opacity: 1;
        transform: translateX(0px); }
      .navbar .navbar-brand.navbar-right.languages {
        width: 52px;
        font-size: 14px; }
        .navbar .navbar-brand.navbar-right.languages:hover {
          cursor: pointer; }
      @media (max-width: 767px) {
        .navbar .navbar-brand.navbar-right {
          margin-top: 9px;
          width: 60px; } }
    .navbar .navbar-brand .contact-icon, .navbar .navbar-brand .back-icon {
      float: right;
      display: inline-block;
      width: 25px;
      margin-left: 10px;
      margin-top: -1px; }
    .navbar .navbar-brand a:first-child {
      position: absolute;
      left: -24px; }
      .navbar .navbar-brand a:first-child .back-icon {
        margin: 0;
        transition: all 0.2s ease-in-out; }
        @media (max-width: 767px) {
          .navbar .navbar-brand a:first-child .back-icon {
            margin-top: 8px;
            left: -39px; } }
        @media (min-width: 768px) {
          .navbar .navbar-brand a:first-child .back-icon:hover {
            animation-name: back-anim;
            animation-duration: 0.3s; }
          @keyframes back-anim {
            0% {
              transform: translateX(0px); }
            50% {
              transform: translateX(-7px); }
            100% {
              transform: translateX(0px); } } }
    @media (max-width: 767px) {
      .navbar .navbar-brand {
        width: 100%; } }

.nav-up {
  top: -72px; }

section.about {
  background-color: white;
  height: 100vh;
  margin: 0 -15px -40px;
  padding-top: 50px;
  transition: opacity 1s ease-in; }
  @media (max-width: 768px) {
    section.about {
      padding-top: 20px;
      transform: translateY(-25px);
      padding-bottom: 40px;
      height: 100%; } }
  section.about .wrap {
    max-width: 1000px;
    margin: 0 auto; }
  section.about .portrait {
    float: left;
    transition: transform .2s ease-out;
    opacity: .3;
    width: 50%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    @media (max-width: 1024px) {
      section.about .portrait {
        width: 110px;
        margin: auto; } }
  section.about .presentation {
    float: right;
    width: 50%;
    position: relative;
    z-index: 10;
    right: 0;
    width: 500px; }
    @media (max-width: 1024px) {
      section.about .presentation {
        width: 100%;
        padding: 0 20px; } }
  @media (max-width: 1024px) {
    section.about .portrait, section.about .presentation {
      float: none;
      text-align: center; } }
  section.about .hello {
    font-size: 72px;
    margin-bottom: 30px; }
  section.about .intro {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700; }
  section.about p:not(.intro):not(.hello) {
    margin-bottom: 15px;
    padding-right: 30%; }
    @media (max-width: 1024px) {
      section.about p:not(.intro):not(.hello) {
        padding-right: 0; } }
  section.about .links {
    margin-top: 100px; }
    section.about .links a {
      font-size: 36px;
      display: inline-block; }
      section.about .links a:last-child {
        float: right; }
        @media (max-width: 1024px) {
          section.about .links a:last-child {
            float: none; } }
      section.about .links a:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        position: relative;
        top: -2px;
        background: black;
        transition: width 0.2s cubic-bezier(0, 0, 0, 1); }
        @media (max-width: 1024px) {
          section.about .links a:after {
            display: none; } }
      section.about .links a:hover:after {
        width: 100%;
        color: black; }
      @media (max-width: 1024px) {
        section.about .links a {
          display: block;
          margin-bottom: 10px; } }
    @media (max-width: 1024px) {
      section.about .links {
        margin-top: 30px; } }
  section.about .portrait {
    animation: 1s ease-out 0s 1 fadein-left; }
  section.about .hello {
    animation: 1s ease-out 0s 1 fadein-top; }
  section.about p:not(:first-child) {
    animation: 1.5s ease-out 0s 1 fadein-right-delay05; }
  section.about .links {
    animation: 2s ease-out 0s 1 fadein-bottom-delay1; }
  section.about .fadeout {
    opacity: 0; }

@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  40% {
    transform: translateX(0px); }
  100% {
    opacity: .3; } }

@keyframes fadein-top {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  40% {
    transform: translateY(0px); }
  100% {
    opacity: 1; } }

@keyframes fadein-right-delay05 {
  0% {
    opacity: 0; }
  25% {
    transform: translateX(10px);
    opacity: 0; }
  50% {
    transform: translateX(0px); }
  100% {
    opacity: 1; } }

@keyframes fadein-bottom-delay1 {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(10px);
    opacity: 0; }
  70% {
    transform: translateY(0px); }
  100% {
    opacity: 1; } }

.home {
  display: none; }
  .home .project-thumb {
    text-align: center;
    padding: 20px; }
    .home .project-thumb video, .home .project-thumb img {
      box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.25); }
    .home .project-thumb .footer {
      margin-top: 10px; }
      .home .project-thumb .footer h2 {
        font-size: 16px;
        font-weight: 700; }
      .home .project-thumb .footer label {
        text-transform: uppercase;
        font-size: 11px;
        color: #b1b1b1;
        letter-spacing: 1px; }
    @media (max-width: 767px) {
      .home .project-thumb {
        padding: 0 0 20px 0; } }

.project {
  display: none;
  padding: 20px; }
  .project .preview {
    margin-bottom: 20px; }
    .project .preview video {
      box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.25); }
  .project .info {
    display: none;
    transform: translateX(-50px);
    transition: transform .6s ease-out; }
    .project .info h2 {
      font-weight: 700;
      font-size: 20px; }
    .project .info label {
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #b1b1b1; }
    .project .info p {
      margin: 12px 0 12px 0; }
    .project .info a {
      color: black; }
      .project .info a .launch {
        text-decoration: underline;
        font-size: 12px; }
  @media (max-width: 767px) {
    .project {
      padding: 0; } }

.contact .form {
  margin-top: 40px; }
  .contact .form form label {
    font-size: 14px;
    margin: 0 0 8px 0; }
  .contact .form form input, .contact .form form textarea {
    width: 100%;
    background-color: #ececec;
    border: none;
    font-size: 14px;
    padding: 15px;
    outline: none;
    margin-bottom: 40px;
    border-radius: 3px;
    transition: all 0.2s; }
    .contact .form form input:focus, .contact .form form textarea:focus {
      outline: none;
      box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.25); }
  .contact .form form input#submit {
    background-color: transparent;
    margin: 0;
    border: solid 2px #ececec; }
    .contact .form form input#submit:focus {
      box-shadow: none; }
  .contact .form form .submit-btn {
    position: relative;
    text-align: center;
    top: -40px;
    z-index: -10; }
    .contact .form form .submit-btn:active + .send-icon {
      transform: translate(10px, -10px);
      opacity: 0; }
    .contact .form form .submit-btn span {
      font-size: 18px;
      margin-right: 6px; }
      .contact .form form .submit-btn span img.send-icon {
        width: 20px;
        transition: all 0.3s; }

.sent {
  text-align: center; }

.menu-xs {
  z-index: 1;
  text-align: center;
  position: fixed;
  background-color: #f8f8f8;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding-top: 12px; }
  .menu-xs .col-left, .menu-xs .col-right {
    width: 50%; }
  .menu-xs .col-left {
    float: left;
    border-right: 2px solid #ececec; }
  .menu-xs .col-right {
    float: right; }
  .menu-xs img {
    width: 25px; }

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #d8d8d8;
  padding: 10px; }
  footer p.copyrights {
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
    font-size: 11px;
    text-align: center; }
  @media (max-width: 767px) {
    footer {
      bottom: 52px; } }
