<section class="about">
	<img class="portrait img-responsive" src="pictos/portrait.jpg">
	<div class="presentation">
		<p class="hello">Bonjour,</p>
		<p class="intro">Je suis webdesigner freelance et développeur front-end vivant à Montpellier.</p>
		<p>Diplomé en design graphique et interactivité à l’école supérieur d’art et design Le Havre Rouen. Je suis passionné par la création et l’intégration d’interfaces mais aussi par la réalisation de projets numériques.</p> 
		<p>Mes formations et expériences professionnelles mon permis de maitriser les outils de maquettage UI/UX ainsi que le développement front-end.</p>
		<p>Toujours curieux de découvrir  les dernières possibilités  du web en terme d’interactivité. J’aime me lancer des défis afin de créer des expériences utilsateurs uniques.</p>
		<div class="links">
			<a ui-sref="home">Mes projets</a>
			<a href="pictos/cv-adrien-lapasset.pdf" target="blank">Mon CV</a>
		</div>
	</div>

		<!-- <div class="col-xs-12">
			<p>{{'Hello, I am a' | translate}} <strong>{{'freelance webdesigner' | translate}}</strong> {{'and' | translate}} <strong>{{'front-developer' | translate}} </strong>{{' living in Montpellier, France.' | translate}}</p>
			<p class="help"><a ui-sref="contact"><strong>{{'I can help you in your project !' | translate}}</strong></a></p>
			<p class="links"><a ui-sref="home">{{'Here is a preview of my work.' | translate}}</a>
			</br><a href="pictos/cv-adrien-lapasset.pdf" target="blank">{{'Here is my CV.' | translate}}</a></p>
		</div>
	</div> -->
</section>