<div class="contact">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<div class="form">
				<form method="post" action="contact.php">
					<label>Hello, what's your name ?</label>
					<input name="name">
					<label>What's your message ?</label>
					<textarea name="message" row="4"></textarea>
					<label>and your email ?</label>
					<input name="email" type="email">
					<input id="submit" name="submit" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
</div>