<div class="contact">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="form">
				<form method="post" action="contact.php">
					<div class="row">
						<div class="col-xs-6">
							<label>Hello, what's your name ?</label>
							<input name="name">
						</div>
						<div class="col-xs-6">
							<label>and your email ?</label>
							<input name="email" type="email">
						</div>
					</div>
					<label>What's your message ?</label>
					<textarea name="message" row="4"></textarea>
					<input id="submit" name="submit" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>