<div class="home">
	<div class="row">
		<div ng-repeat="project in projects">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<a ui-sref="project({name: project.name})" ng-click="backShow()">
						<div class="preview-thumb" playonhover>
							<img class="hidden-md hidden-lg img-responsive" ng-src="videos/{{project.name}}-thumb.jpg">
							<video class="hidden-xs hidden-sm" name="{{project.title}}" poster="videos/{{project.name}}-thumb.jpg" loop><source ng-src=videos/{{project.name}}-thumb.mov></video>
						</div>
						<div class="footer">
							<h2>{{project.title}}</h2>
							<label>{{project.category | translate}}</label>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>