<div class="project">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="preview">
				<video name="{{project.title}}" poster="videos/{{project.name}}.jpg" ng-src=videos/{{project.name}}.mov autoplay loop></video>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="info">
				<h2>{{project.title}}</h2>
				<label>{{project.category | translate}}</label>
				<p>{{project.description | translate}}</p>
				<a ng-if="project.local" href="http://projects.adrienlapasset.fr/{{project.name}}">
					<!-- <span><img class="mouse-icon" src="icons/mouse.svg"></span> -->
					<span class="launch">{{'Launch site' | translate}}</span>
				</a>
			</div>
		</div>
	</div>
</div>
