@font-face {
	font-family: 'Regular-Semibold';
	src: url('../assets/fonts/Regular-Semibold.ttf');
}

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: black;
}

body {
	height: 100vh;
	font-family: 'Regular-Semibold';
	background-color: white;
}

.App {
	overflow-y: hidden;
}

h2,
p {
	font-size: 18px;

	@include sm {
		font-size: 24px;
	}
}

a {
	color: black;
	display: block;
}
