@import '../../styles/colors';

@mixin animationDelay {
	$i: 1;
	$delay: 0;
	@for $i from 1 through 7 {
		&:nth-child(#{$i}) {
			animation-delay: #{$delay}s;
		}
		$delay: $delay + .1;
	}
}

.LogoSlider {
	margin-top: auto;
	transform: translateY(120px);
	transition: transform .4s ease-out;
	padding-top: 200px;
	cursor: pointer;

	&:hover:not(.LogoSlider--show) {
		transform: translateY(100px);
	}

	&--show {
		transform: translateY(0px);

		.LogoSlider__item {
			animation: fadeFromBottom .4s forwards;
			@include animationDelay;
		}
	}

	// animation: fadeFromBottom 1s 1.8s forwards;
	// opacity: 0;

	&__slider {
		height: 150px;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__container {
		overflow-x: hidden;
	}

	&__title {
		text-align: center;
		color: $grey;
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 15px;
	}

	&__list {
		display: flex;
		transition: transform 7s linear;
	}

	&__item {
		flex-shrink: 0;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
	}
}

@keyframes fadeFromBottom {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
