@mixin animationDelay {
	$i: 1;
	$delay: 0;
	@for $i from 1 through 7 {
		&:nth-child(#{$i}) {
			animation-delay: #{$delay}s;
		}
		$delay: $delay + .1;
	}
}

.LogoSlider {
	height: 150px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;

	&--show {
		.LogoSlider__item {
			animation: fadeFromBottom .4s forwards;
			@include animationDelay;
		}
	}

	&__container {
		overflow-x: hidden;
	}

	&__list {
		display: flex;
	}

	&__item {
		flex-shrink: 0;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
		animation: fadeOut .4s forwards;
	}
}

@keyframes fadeFromBottom {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
