@import '../../styles/colors';
@import '../../styles/animations';
@import '../../styles/media';

.Footer {
	position: fixed;
	bottom: -100%;
	left: 0;
	right: 0;
	transform: translateY(60px);
	transition: transform .4s cubic-bezier(.2, 0, 0, 1);
	cursor: pointer;
	animation: fadeFooter 2s 2.5s forwards cubic-bezier(.2, 0, 0, 1);

	@include md {
		transform: translateY(100px);
		&:hover:not(.Footer--show) {
			transform: translateY(80px);
		}
	}

	&--show {
		transform: translateY(0px);

		.Footer__title {
			opacity: 0;
			@include md {
				opacity: 1;
			}
		}
	}

	&__title {
		transition: opacity .2s;
		opacity: 1;
		text-align: center;
		color: $grey;
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 10px;
		display: none;

		@include md {
			display: block;
		}

		&--mobile {
			text-transform: none;
			display: block;
			position: absolute;
			bottom: 62px;
			color: white;

			@include md {
				display: none;
			}
		}
	}
}

@keyframes fadeFooter {
	to {
		bottom: 0%;
	}
}
