.illustration {
	position: relative;
}

.character {
	align-items: center;
	display: flex;
	flex-direction: column;
	opacity: 0;
	animation: fadefromTop 1s .7s forwards, float 1.5s 1.7s ease-in-out infinite alternate;
}

.container {
	position: absolute;
	top: 90px;
	left: 150px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.shadow {
	opacity: 0;
	margin-top: 10px;
	width: 240px;
	padding: 15px 0;
	background-color: black;
	border-radius: 240px / 30px;
	animation: shadowIn 1s .7s forwards, shadow 1.5s 1.7s ease-in-out infinite alternate;
}

@keyframes float {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-7px);
	}
}

@keyframes shadowIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes shadow {
	from {
		transform: scale(1);
		background-color: black;
		filter: blur(1px);
	}
	to {
		transform: scale(1.05);
		background-color: rgb(51, 51, 51);
		filter: blur(2px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
