// Variables
$grey-lightest: #f8f8f8;
$grey-light: #ececec;
$grey: #b1b1b1;
$blue: #001CE6;
$view-height: calc(100vh - 50px);
$view-gap: calc(2em + 50px);


$regular: 18px;
$small: 14px;

// Partials
// @import "base";
// @import "navbar";
// @import "about";
// @import "home";
// @import "project";
// @import "contact";
// @import "footer";